* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body, html{
  height: 100%;
}
header{
  height:100%;
  background: url("../img/intro5.jpg")center center;
  background-size: cover;
  text-align: center;
  color:white;
}
.espace{
  padding: 5em 0;
}
.gris{
  background-color: #dddddd;
  border-top:0.5px solid #afadaf;
  border-bottom:0.5px solid #afadaf
}
.no-padding{
  padding: 0;
}
.img_scroll:hover{
  animation: bounce;
}
.row{
  margin-right:0px;
}
.text-center{
  text-align: center;
}
.titre h3 {
  margin: 25px;
  font-weight: 300;
  font-size: 30px;
}
.titre{
  padding-top:150px;
}
.titre h1{
  font-weight: 300;
  margin: 25px 0;
  font-size: 80px;
  font-family: "arvo", sans-serif;
  letter-spacing: 6px;
}
.button_down{
  margin-top: 11em;
}
.btn-home1, .btn-home2{
  border-radius: 5px;
  padding: 20px;
  color:white;
  border: 1px solid #4a90be;
  margin-right: 20px;
  margin-top: 0;
  letter-spacing: 6px;
}
.btn-home1{
  background: #4a90be;
}
.btn-home2{
  border: 1px solid white;
}
.btn-home3, .btn-home4{
  border-radius: 5px;
  padding: 16px;
  color:white;
  margin-right: 20px;
  margin-top: 0;
}
.btn-home3{
  background: #5cc25d;
  border: 1px solid #5cc25d;
}
.btn-home4{
  background: #4a90be;
  border: 1px solid #4a90be;
}
.btn-home5{
  padding: 16px 30px;
  color:white;
  background-color: #5a99db;
  margin-right: 20px;
  margin-top: 0;
}
.btn-home6{
  padding: 16px 30px;
  color:white;
  background-color: #1abc9c;
  margin-right: 20px;
  margin-top: 20px;
}
.btn-titre{
  display: inline-block;
}
.btn-titre ul{
  margin-top: 30px;
}
.btn-titre ul li{
  display: inline-block;
}
.text-btn a:hover{
  text-decoration: none;
}
.text-btn2 a:hover{
  text-decoration: none;
  color: white;
}
.bggrey{
  background: #ecf0f1;
}
.menu{
  float:right;
}
.menu{
  font-size: 1.5em;
  font-weight: 300;
}
.menu li{
  float:left;
  list-style: none;
  margin-right: 25px;
}
.flatfly{
  font-size: 36px;
}
.color-nav a, .color-nav{
  color: #34495e;
}
.color-nav a:hover{
  color: #1abc9c;
}
.affix {
     top: 0;
     width: 100%;
     z-index:10;
 }
 .affix + .container-fluid {
     padding-top: 70px;
 }


.padding-nav{
  padding: 15px 0;
}
.nav-titre{
  font-size: 2em;
  font-weight: 300;
  font-family: "arvo", sans-serif;
}
.hvr-wobble-horizontal:hover{
  color: blue;
}
.img{
  width:100%;
}
/*Bouton de Nav sous Iphone*/
.btn-nav{
  text-align: center;
}
.rond-blue1{
  display: inline-block;
  border-radius: 50%;
  background-color: blue;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.rond-blue2{
  display: inline-block;
  border-radius: 50%;
  background-color: blue;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.leger-gris{
  color: #656755;
  display:inline-block;
  margin: 1.5em 0;
}
.icones i{
  margin-right: 0.5em;
}
.bgblue{
  background-color: #34495e;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
/*.marge{
  margin:20px 0;
}*/
.white{
  color: white;
}
.box-icon {
  height: 150px;
  width: 150px;
  -moz-border-radius: 35px;
  border-radius: 100%;
  padding: 47px 10px;
  background-color: #f0f1ec;
  color: #034b81;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 15px;
  }
.banner{
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.owl-theme .owl-controls .owl-page span {
    background: #1abc9c;
}
.carousel-page
{
  width:100%;
  height:400px;
  /*background-color:#5f666d;*/
  color:white;
}
